* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.contain {
    height: 100%;
    width: 100%;
    max-width: 2000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background: radial-gradient(#fff,#f1ada4);
	background-size: cover;
	position: absolute;

}

.logout{
    text-align: end; 
    margin-top: 20px;
}

a{
    text-decoration: none;
}


img{
    margin-left: 10px;
    margin-top: 0;
}

p{
    color: #555;
}

.row{
    margin-top: -20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: wheat;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn:hover{
    background-color: brown;   

}

